<div class="container">
  <div *ngIf="show_number && question" class="parent-container">
    <div class="element-container" [ngStyle]="{'color' : color}">{{msg.num1}}</div>
    <div class="element-container" [ngStyle]="{'color' : color}">{{msg.operator}}</div>
    <div class="element-container" [ngStyle]="{'color' : color}">{{msg.num2}}</div>
    <div class="element-container" [ngStyle]="{'color' : color}"> = </div>
    <div class="element-container" [ngStyle]="{'color' : color}"> ? </div>
  </div>

  <div *ngIf="show_shape && question" class="parent-container">


    <div *ngIf="shape === 'kreis'">
      <svg class="circle" [ngStyle]="{'fill' : color}">
        <use xlink:href="../assets/sprite.svg#icon-circle"></use>
      </svg>
    </div>
    <div *ngIf="shape === 'quadrat'">
      <div class="square" [ngStyle]="{'background-color' : color}"></div>
    </div>
    <div *ngIf="shape === 'rechteck'">
      <div class="rectangle" [ngStyle]="{'background-color' : color}"></div>
    </div>

    <div *ngIf="shape === 'dreieck'">
      <svg class="triangle" [ngStyle]="{'fill' : color}">
        <use xlink:href="../assets/sprite.svg#icon-triangle-up"></use>
      </svg>
    </div>

  </div>

  <div  *ngIf="show_success_msg" class="success-msg-container">

    <img class="fire_img" src="../assets/firework.png">
    <div class="success-msg ">Antwort ist richtig!</div>
    <img class="fire_img" src="../assets/firework.png">

  </div>
</div>